name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: gasibu/cracks

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Enable Docker BuildKit
      run: |
        echo "{ \"experimental\": true }" | sudo tee /etc/docker/daemon.json
    - name: Build the Docker image
      run: |
        docker build . --build-arg ENV=${{ secrets.CURRENT_ENV }} --file Dockerfile --tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:$(date +%s)
